<div class="container" style="margin-top:15px;">
  <%= link_to "All books", admin_books_path("search", 1), :class => 'btn btn-default btn-small', :style => 'margin-top:15px;' %>
</div>

<div class="container">
  <h2>Reviews for book <%= @book.title%>&nbsp;<%= link_to "Add review", admin_add_review_path(@book.id), :class => 'btn btn-small btn-success'%></h2>
    <table class="table table-striped" style="width:50%;">
      <tbody>
        <tr>
          <td>Title</td>
          <td><%= link_to @book.title.to_s, admin_book_update_title_path, :class => 'editable_title', :data => { :type => 'text', :pk => @book.id, :url => admin_book_update_title_path, :params => {:authenticity_token => form_authenticity_token}}%></td>
        </tr>
        <tr>
          <td>Author</td>
          <td><%= link_to @book.author.to_s, admin_book_update_author_path, :class => 'editable_author', :data => { :type => 'text', :pk => @book.id, :url => admin_book_update_author_path, :params => {:authenticity_token => form_authenticity_token}}%></td>
        </tr>
        <tr>
          <td>ISBN</td>
          <td><%= link_to @book.isbn.to_s, admin_book_update_isbn_path, :class => 'editable_isbn', :data => { :type => 'text', :pk => @book.id, :url => admin_book_update_isbn_path, :params => {:authenticity_token => form_authenticity_token}}%></td>
        </tr>
        <tr>
          <td>Copies</td>
          <td><%= link_to @book.count_copies.to_s, admin_book_update_count_copies_path, :class => 'editable_count_copies', :data => { :type => 'text', :pk => @book.id, :url => admin_book_update_count_copies_path, :params => {:authenticity_token => form_authenticity_token}}%></td>
        </tr>
      </tbody>
    </table>
</div>

<script>
  $.fn.editable.defaults.mode = 'popup';
  
  $(document).ready(function() {
  $('.editable_title').editable({tpl: '<input type="text" style="width:500px;"/>'});
  $('.editable_author').editable({tpl: '<input type="text" style="width:500px;"/>'});
  $('.editable_isbn').editable({tpl: '<input type="text" style="width:500px;"/>'});
  $('.editable_count_copies').editable({tpl: '<input type="text" style="width:500px;"/>'});
  });
</script>

<div class="container" style="width:100%;">
  <h3>Reviews<td>&nbsp;<span class="badge"><%= @nr_reviews%></span></h3>
  <div class="clear"></div>
  <% if @reviews.size > 0 then %>
    <div class="table-responsive" style="width:100%;">
      <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Review</th>
            <th>Operations</th>
        </thead>
        <tbody>
          <% for @review in @reviews do%>
            <tr>
              <td><%= link_to @review.name.to_s, admin_review_update_name_path, :class => 'editable_name', :data => { :type => 'text', :pk => @review.id, :url => admin_review_update_name_path, :params => {:authenticity_token => form_authenticity_token}}%></td>
              <td><%= link_to @review.review.to_s, admin_review_update_review_path, :class => 'editable_review', :data => { :type => 'text', :pk => @review.id, :url => admin_review_update_review_path, :params => {:authenticity_token => form_authenticity_token}}%></td>
              <td><%= link_to "Delete", admin_delete_review_path(@review.id), :class => 'btn btn-danger btn-sm'%></td>   
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%else %>
    <h3>No review was found.</h3>
  <%end %>
</div>
<br/>

<script>
  $(".date_chosen").datepicker({
    format: "yyyy-mm-dd"
  });

  $.fn.editable.defaults.mode = 'popup';
  
  $(document).ready(function() {
    $('.editable_name').editable({tpl: '<input type="text" style="width:500px;"/>'});
    $('.editable_review').editable({tpl: '<textarea style="width:600px;"></textarea>'});
  });
  
</script>
